.main-nav .menu { }
.main-nav .menu .zocalo1 { position: absolute; margin-left: -130px; top: 50px; }
.main-nav .menu .zocalo2 { position: absolute; margin-left: 970px; top: 50px; }

.bnr-left { margin-bottom: 15px; }