body { background: #fff url('../i/bg_movistare71e.jpg?2503') no-repeat fixed center 0; }
#header-all { background: none; }
.cnt-header { background: url(../i/bg_header.jpg) repeat-x 0 0; margin: 0 auto; padding-bottom: 15px; width: 960px; }
	.l-tc-link { display: block; height: 630px; margin-left: -159px; position: fixed; top: 0; width: 152px; }
	.r-tc-link { display: block; height: 630px; margin-left: 965px; position: fixed; top: 0; width: 152px; }

.accesos, .comerciope { margin: 0 auto !important; width: 950px !important; }
.comerciope h1 { margin-right: 75px !important; }
.main-nav .menu { background: url(../i/bg_header.jpg) repeat-x 0 bottom; }
#main-nav.fixed .menu { background: none; }

.container { background: #fff; overflow: hidden; }
.ads-960x35 { margin: 0; padding: 5px 0; }